* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family:"Microsoft YaHei";
    font-size: 16px;
    color: #666;  
}
.bottom{
    position: fixed;
    bottom: 0%;
    background-color: lavender;
    width: 100%;
}
